/* 页面公共scss */
.container {
  background: #F1F4F5;
  margin: 0;
  padding: 0;
	box-sizing: border-box;
	height: 100%;
}
//卡片样式
.box-card{
  margin: 0 auto;
  margin-top: 20rpx;
  margin-bottom: 20rpx;
width: 719rpx;
min-height: 165rpx;
background: #ffffff;
border-radius: 17rpx;
padding: 10rpx 28rpx;
box-sizing: border-box;
}

html, body {
  background: #F1F4F5;
}

// 表单组件样式修改
.work-order-form {
  .u-textarea {
    padding-top: 0 !important;
    padding-left: 0 !important;
    min-height: 110rpx !important;
    .uni-textarea-textarea {
      height: auto !important;
      min-height: 110rpx !important;
    }
    .uni-textarea-placeholder {
      display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3;
			overflow: hidden;
      min-height: 110rpx !important;
    }
  }
  .u-radio-group--row,
  .u-checkbox-group--row {
    flex-wrap: wrap !important;
    flex-shrink: initial !important;
  }
  .u-form-item__body__right__message {
    margin: 0 !important;
  }
}
