/* 页面公共scss */
.container {
  background: #F1F4F5;
  margin: 0;
  padding: 0;
	box-sizing: border-box;
	height: 100%;
}
//卡片样式
.box-card{
  margin: 0 auto;
  margin-top: 20rpx;
  margin-bottom: 20rpx;
width: 719rpx;
min-height: 165rpx;
background: #ffffff;
border-radius: 17rpx;
padding: 10rpx 28rpx;
box-sizing: border-box;
}

html, body {
  background: #F1F4F5;
}
